kaggleseries/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "kaggleseries"
		},
		"sinkkaggleseries_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'sinkkaggleseries'"
		},
		"KaggleLocalFileServer_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'KaggleLocalFileServer'"
		},
		"sinkkaggleseries_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://kaggleseries.dfs.core.windows.net/"
		},
		"KaggleLocalFileServer_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "D:\\KaggleSeries"
		},
		"KaggleLocalFileServer_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "CHENG\\lchen"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/sinkkaggleseries')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('sinkkaggleseries_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('sinkkaggleseries_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kaggleselfhostedruntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sinkSeriesfilesystem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sinkkaggleseries",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sinkkaggleseries')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KaggleLocalFileServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('KaggleLocalFileServer_properties_typeProperties_host')]",
					"userId": "[parameters('KaggleLocalFileServer_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('KaggleLocalFileServer_password')]"
					}
				},
				"connectVia": {
					"referenceName": "kaggleselfhostedruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/kaggleselfhostedruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sourcelocalseriesfile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "KaggleLocalFileServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "series.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Rank",
						"type": "String"
					},
					{
						"name": "Peak",
						"type": "String"
					},
					{
						"name": "All Time Peak",
						"type": "String"
					},
					{
						"name": "Actual gross",
						"type": "String"
					},
					{
						"name": "Adjusted gross (in 2022 dollars)",
						"type": "String"
					},
					{
						"name": "Artist",
						"type": "String"
					},
					{
						"name": "Tour title",
						"type": "String"
					},
					{
						"name": "Year(s)",
						"type": "String"
					},
					{
						"name": "Shows",
						"type": "String"
					},
					{
						"name": "Average gross",
						"type": "String"
					},
					{
						"name": "Ref.",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KaggleLocalFileServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/kaggleseries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy local series file",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sourcelocalseriesfile",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sinkSeriesfilesystem",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "pipelinesuccessemail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "copy local series file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-04.uaenorth.logic.azure.com:443/workflows/79260ca7837142529044bc2efe086334/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=J_X86pR8s0R3xIWVJtZdGZT9vfklZuO1BVJtSsqEtGE",
							"body": {
								"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"status\": \"Succeeded\",\n    \"runId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcNow()}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pipelinefailuremail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "copy local series file",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-04.uaenorth.logic.azure.com:443/workflows/79260ca7837142529044bc2efe086334/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=J_X86pR8s0R3xIWVJtZdGZT9vfklZuO1BVJtSsqEtGE",
							"body": {
								"value": "{\n     \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"status\": \"Failed\",\n    \"runId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcNow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sourcelocalseriesfile')]",
				"[concat(variables('factoryId'), '/datasets/sinkSeriesfilesystem')]"
			]
		}
	]
}